<% provide(:title, "Contato") %>
<h1>Contato</h1>
<p>
<ul>
	<li><strong>Nome:</strong>Alexandre Jose Barros Machado</li>
	<li><strong>Email:</strong>alexandretopeca@gmail.com</li>
	<li><strong>Telefone:</strong>82993944786</li>
</ul>
</p>
