<% provide(:title, "Início") %>
<h1>Terceiro app</h1>
<p>
Este é o terceiro aplicativo Rails da disciplina
<strong>Desenvolvimento de Software para Web II</strong> do curso de Sistemas de Informação em <a href="http://www.ufal.edu.br/arapiraca/unidades-de-ensino/penedo">Penedo</a>
</p>
